<nav class="navbar navbar-dark bg-primary d-flex justify-content-between m-0 p-0 px-2">
  <div class="d-flex justify-content-start">
    <a class="navbar-brand" (click)="onToggle(header.sidebarStatus)">
      <fa-icon [icon]="faBars"></fa-icon>
    </a>
    <a class="navbar-brand" [href]="['/']">
      <img [src]="header.brand.logo" width="30" height="30" alt="">
    </a>
    <a class="navbar-brand" [href]="['/']">{{ header.brand.name }}</a>
  </div>
  <form class="form-inline d-flex justify-content-end">
    <div class="input-group input-group-sm">
      <input #query (keyup)="onSearch(query)" type="text" class="form-control" placeholder="Search">
      <div class="input-group-append">
        <button class="btn btn-white bg-white" type="button" (click)="onSearch(query)">
          <fa-icon [icon]="faSearch"></fa-icon>
        </button>
      </div>
    </div>
  </form>
</nav>